body{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #3E3F43;
}
.body-active-menu{
    overflow: hidden;
}
a{
    color: #3E3F43;
    text-decoration: none;
}
// Шапка
.body__header{
    padding-top: 20px;
    padding-bottom: 164px;
}
.header{
    .header__wrapper{
        padding: 0 28px 0 80px;
    }
    .header__list{
        margin-bottom: 0;
        align-items: center;
        z-index: 100;
    }
    .header__item{
        list-style: none;
    }
    .header__link{
        list-style: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: rgba(34, 34, 34, 0.75);
    }
    .header__item--active{
        font-weight: 800;
        color: #DAA520;
    }
    .header__link-sing-up{
        text-transform: uppercase;
        font-weight: bold;
        padding: 9px 35px 9px 36px;
        border: 1px solid #3E3F43;
        box-sizing: border-box;
        border-radius: 8px;
    }
    .header__button,
    .header__button--close{
        display: none;
        background: none;
        border: none;
        outline: none;
    }
    @media screen and (max-width: 992px){
        .header__logo-img{
            margin-bottom: 15px;
        }
        .header__list{
            padding-left: 0;
        }
    }
    @media screen and (max-width: 767px){
        .header__button{
            display: flex;
        }
        .header__list{
            display: none !important;
        }
        .header__list--the-drop-down-menu{
            display: flex !important;
            flex-direction: column;
            position: absolute;
            right: -13px;
            top: -35px;
            background: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
            width: 200px;
            padding: 20px 0 44px;
            border-bottom-left-radius: 10px;
        }
        .header__button--close-active{
            display: flex;
            position: absolute;
            left: 10px;
            top: 20px;
        }
        .header__wrapper {
            padding: 0 28px 0 28px;
        }
        .header__item{
            padding-top: 15px;
        }
        .header__logo-img {
            margin-bottom: 0;
        }
    }
}

// --Шапка--

// Промо текст 

.promo-text{
    padding-bottom: 327px;
}
.promo-text{
    .promo-text__block-image{
        position: absolute;
        right: 0;
        top: 0;
        height: 800px;
        width: 370px;
        border-bottom-left-radius: 150px;
        background: #F9BDBD;
        z-index: -1;
    }
    .promo-text__block-image::after{
        content: "";
        position: relative;
        left: -190px;
        top: 170px;
        display: flex;
        width: 534px;
        height: 577px;
        background-image: url(../images/promo-text__stolik.png);
    }
    .promo-text__block-image::before{
        content: "";
        position: absolute;
        left: -264px;
        top: 405px;
        display: flex;
        width: 390px;
        height: 390px;
        background-image: url(../images/listik.png);
    }
    .promo-text__treatment-to-the-client{
        font-family: Nunito;
        font-weight: normal;
        font-size: 36px;
        line-height: 49px;
    }
    .promo-text__treatment-to-the-client span{
        font-weight: bold;
    }
    .promo-text__title{
        margin-bottom: 16px;
        font-family: Nunito;
        font-weight: bold;
        font-size: 72px;
        line-height: 98px;
        color: #313235;
    }
    .promo-text__button{
        background: #DAA520;
        border-radius: 4px;
        padding: 14px 24px;
        border: none;
        font-family: Nunito;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
    }
    @media screen and (max-width: 1140px){
        .promo-text__title{
            line-height: 75px;
        }
    }
    @media screen and (max-width: 992px){
        .promo-text__title{
            line-height: 75px;
        }
        .promo-text__block-image::before,
        .promo-text__block-image::after{
            display: none;
        }
        .promo-text__block-image{
            height: 700px;
        }
    }
    @media screen and (max-width: 767px){
        .promo-text__treatment-to-the-client{
            font-size: 29px;
            line-height: 36px;
        }
        .promo-text__title{
            line-height: 66px;
            font-size: 60px;
        }
        .promo-text__block-image{
            width: 250px;
            height: 500px;
        }
    }
}
@media screen and (max-width: 992px){
    .body__header{
        padding-bottom: 99px;
    }
    .promo-text{
        padding-bottom: 178px;
    }
}
@media screen and (max-width: 767px){
    .promo-text{
        padding-bottom: 70px;
    }
}


// --Промо текст--

// Заголовки блоков

.header-block{
    margin-bottom: 15px;
}
.header-block__promo-text{
    padding-left: 36px;
    padding-right: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
    display: flex;
    align-self: center;
    white-space: nowrap;
}
.header-block__promo-text::before{
    content: "";
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    background-image: url(../images/listik_SMAILL.png);
    margin-top: 8px;
    margin-left: -37px;
    
}
.header-block__hell{
    display: flex;
    align-self: center;
    width: 100%;
    height: 2px;
    background: #000;

}
.header-block__promo-text-large{
    margin: 0;
    padding-left: 10px;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: rgba(34, 34, 34, 0.1);
    text-align: right;
    white-space: nowrap;
}
@media screen and (max-width: 992px){
    .header-block__promo-text-large{
        font-size: 52px;
    }
    .header-block__promo-text{
        font-size: 27px;
    }
}
@media screen and (max-width: 767px){
    .header-block__promo-text-large{
        font-size: 36px;
    }
    .header-block__promo-text{
        font-size: 21px;
    }
}
@media screen and (max-width: 510px){
    .header-block__promo-text-large {
        font-size: 24px;
    }
    .header-block__promo-text {
        font-size: 15px;
    }
}
@media screen and (max-width: 415px){
    .header-block__promo-text-large--custom-block{
        white-space: pre-wrap;
        line-height: 30px;
    }
}
@media screen and (max-width: 1200px){
    .header-block__promo-text::after{
        width: 38px;
    }
}

// --Заголовки блоков--

// Информация о компании

.main__about-us{
    margin-bottom: 235px;
}
.about-us{
    .about-us__img-wooden-objects{
        width: 278px;
        height: 388px;
        background: #F7DEA6;
        border-bottom-left-radius: 150px;
        border-top-right-radius: 150px;
    }
    .about-us__img-wooden-objects::after{
        content: "";
        position: relative;
        left: 38px;
        top: 80px;
        display: flex;
        width: 388px;
        height: 306px;
        background-image: url(../images/derevynie-predmeti.png);
    }
    .about-us__img-wooden-objects::before{
        content: "";
        position: absolute;
        left: -144px;
        top: 257px;
        display: flex;
        width: 390px;
        height: 390px;
        background-image: url(../images/listik.png);
    }
    .about-us__title{
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
    }
    .about-us__title span{
        font-weight: 400;
    }
    .about-us__subtitle{
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #000;
    }
    .about-us__custom-furniture .about-us__title{
        color: #000;
    }
    .about-us__wooden-furniture-manufacturing-services{
        margin-bottom: 165px;
    }
    .about-us__img-custom-furniture{
        position: absolute;
        right: 0;
        margin-top: -269px;
    }
    @media screen and (max-width: 992px){
        .about-us__img-wooden-objects::after{
            left: -29px;
        }
    }
    @media screen and (max-width: 992px){
        .about-us__img-wooden-objects,
        .about-us__img-custom-furniture{
            display: none;
        }
        .about-us__wooden-furniture-manufacturing-services{
            margin-bottom: 50px;
        }
    }
}
@media screen and (max-width: 992px){
    .main__about-us{
        margin-bottom: 20px;
    }
}

// --Информация о компании--

// Информация о услугах

.services{
    .header-block__title-block{
        margin-bottom: 67px;
    }
    .header-block__promo-text::after{
        width: 214px;
        margin-left: 268px;
    }
    .services__item{
        text-align: center;
    }
    .services__item span{
        position: absolute;
        margin-left: -165px;
        top: 25px;
        font-weight: 600;
        font-size: 96px;
        line-height: 131px;
        color: rgba(249, 189, 189, 0.25);
    }
    .services__img{
        margin-bottom: 20px;
    }
    .services__description{
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #000;
    }
    .services__button{
        background: #DAA520;
        border-radius: 4px;
        padding: 14px 24px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        margin: 55px 0 114px 0;
    }
    @media screen and (max-width: 400px){
        .services__item span{
            margin-left: -141px;
            top: 54px;
            font-size: 67px;
        }
    }
}

// --Информация о услугах 

// Категории

.main__сategory{
    margin-bottom: 76px;
}
.сategory{
    .header-block__promo-text::after{
        width: 338px;
        margin-left: 268px;
    }
    .category__item{
        background: #F9BDBD;
        border-bottom-left-radius: 150px;
        border-top-right-radius: 150px;
        max-width: 280px;
        min-height: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .category__item--peach-color{
        background: #F7DEA6;
    }
    .category__item--blue-color{
        background: #A8DCEC;
    }
    .category__button{
        display: block;
        margin-left: auto;
        border: 1px solid #3E3F43;
        box-sizing: border-box;
        border-radius: 4px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        background: none;
        padding: 8px 18px;
        margin-right: 16px;
        margin-bottom: 24px;
        color: #3E3F43;
    }
    .category__img{
        display: block;
        margin: auto;
    }
    .category__the-first-picture{
        margin-left: 0;
    }
    .category__title{
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        margin-left: 16px;
        margin-top: 24px;
    }
}

// --Категории--

// Отзывы

.main__reviews{
    margin-bottom: 120px;
}
.reviews{
    .header-block__promo-text::after{
        width: 396px;
        margin-left: 257px;
    }
    .reviews__item{
        padding: 54px 16px;
        border: 1px solid #A8DCEC;
        box-sizing: border-box;
        border-bottom-left-radius: 86px;
        border-top-right-radius: 86px;
        margin-bottom: 21px;
    }
    .reviews__rating{
        margin-bottom: 16px;
    }
    .reviews__opinion{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
    .reviews__the-control-buttons-reviews{
        margin-bottom: 10px;
    }
    .reviews__name-author{
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #AFAFAF;
        align-self: center;
        margin-right: 8px;
    }
    .reviews__previous{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #C4C4C4;
        background: none;
        border: none;
        padding-left: 45px;
    }
    .reviews__previous::before{
        position: absolute;
        content: "";
        margin-top: 5px;
        left: 19px;
        width: 33px;
        height: 8px;
        background-image: url(../images/Arrow2.png);
    }
    .reviews__next{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #3E3F43;
        background: none;
        border: none;
        padding-right: 42px;
    }
    .reviews__next::after{
        position: absolute;
        content: "";
        margin-top: 5px;
        right: 17px;
        width: 33px;
        height: 8px;
        background-image: url(../images/Arrow1.png);
    }
    .reviews__button{
        width: 40px;
        height: 8px;
        border-radius: 8px;
        background: #E5E5E5;
        margin-left: 8px;
    }
    .reviews__button--active{
        background: #DAA520;
    }
    @media screen and (max-width: 1200px){
        .reviews__img{
            width: 100%;
            height: auto;
        }
    }
    @media screen and (max-width: 992px){
        .reviews__item{
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 576px){
        .reviews__img{
            width: 60%;
        }
    }
}

// --Отзывы--

// Футер

.footer{
    padding-top: 53px;
}

// --Футер--

// Подписка

.main__subscription{
    margin-bottom: 119px;
}
.subscription{
    .subscription__title,
    .subscription__subtitle{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin: 0;
    }
    .subscription__subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
    .subscription__input-email,
    .subscription__button{
        border: 1px solid #DAA520;
        box-sizing: border-box;
        border-radius: 4px;
        background: none;
        padding: 9px 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
    .subscription__button{
        background: #DAA520;
        color: #fff;
        margin-left: -7px;
        border-top-left-radius: initial;
        border-bottom-left-radius: initial;
    }
    @media screen and (max-width: 992px){
        .subscription__input-email{
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 576px){
        .subscription__input-email{
            font-size: 14px;
        }
    }
}

// --Подписка--

// Футер

.footer{
    background: linear-gradient(to bottom, #fff, #e0dfdf);
}
.lower-part-footer{
    .lower-part-footer__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
        margin-bottom: 16px
    }
    .lower-part-footer__item{
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #8D8D8D;
    }
    .copywriting{
        text-align: center;
        margin-top: 45px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #8D8D8D;
    }
    .lower-part-footer__logo{
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.25em;
        padding-left: 35px;
    }
    .lower-part-footer__logo::before{
        content: "";
        left: 14px;
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url(../images/listikfooter.png);
    }
    .lower-part-footer__logo::after{
        content: "";
        position: absolute;
        width: 937px;
        height: 1px;
        background: #C4C4C4;
        left: 14px;
        margin-top: -20px;
    }
    @media screen and (max-width: 992px){
        .lower-part-footer__logo::after{
            width: 692px;
        }
    }
    @media screen and (max-width: 767px){
        .lower-part-footer__logo::after{
            width: 531px;
        }
        .lower-part-footer__title{
            font-size: 13px;
        }
        .lower-part-footer__item{
            font-size: 12px;
        }
        .lower-part-footer__logo{
            font-size: 17px;
        }
    }
    @media screen and (max-width: 576px){
        .lower-part-footer__title{
            font-size: 20px;
        }
        .lower-part-footer__item{
            font-size: 14px;
        }
        .lower-part-footer__logo{
            font-size: 14px;
        }
        .lower-part-footer__logo::after{
            width: 269px;
        }
    }
}

// Футер